on: [ push ]

jobs:
  fetch-s2-versions:
    runs-on: ubuntu-latest
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get supported versions of Singlestore
        id: get_versions
        uses: singlestore-labs/singlestore-supported-versions@main
        with:
          include_rc: true
      # Use the output from the `get_versions` step
      - name: Print versions
        run: echo "versions ${{ steps.get_versions.outputs.versions }}"
